@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rubik+Bubbles&display=swap');
/*
font-family: 'Pangolin', cursive;
font-family: 'Rubik Bubbles', cursive;
*/

body {
    background-image: url('../images/background-1.jpg');
    font-family: 'Pangolin', cursive;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*TOP INFO*/

.season-info {
    font-size: 20px;
}

.top-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 15px 0;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 25px;
    color: #15400a;
}

.season-info {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 30px;
}

/*PLANT STATS*/

.plant-stats {
    background-color: rgba(89, 143, 71, 0.6);
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: 20px;
}


.bar-bg {
    background-color: rgba(221, 237, 212, 0.5);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.bar-bg p {
    margin-left: 20px;
}

.fa-solid {
    margin-right: 5px;
    color: #15400a;
}

.progress-bar-sunlight {
    background-color: rgba(231, 170, 71, 0.8);
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    transition: width 2s;
}

.progress-bar-water {
    background-color: rgba(231, 170, 71, 0.8);
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    transition: width 2s;
}

.progress-bar-space {
    background-color: rgba(231, 170, 71, 0.8);
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    transition: width 2s;
}

.progress-bar-health {
    background-color: rgba(231, 170, 71, 0.8);
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    transition: width 2s;
}



/*CARDS CSS*/

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    color: #f4f4f4;
    width: 300px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
    margin-bottom: 50px;
}

.card > button {
    display: none;
}

.card:hover > button {
    display: block;
}

.card-btns {
    padding: 10px 35px;
    border-radius: 5px;
    background-color: white;
    border: none;
    color: #36592d;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 18px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-btns:hover {
    color: white;
    background-color: #e7aa47;
}

/*CARDS BACKGROUNDS*/

.caress-bg {
    background-image: url(/images/caress-card.png);
    background-size: contain;
}

.fertilize-bg {
    background-image: url(/images/fertilize-card.png);
    background-size: contain;
}

.medicine-bg {
    background-image: url(/images/medicine-card.png);
    background-size: contain;
}

.play-bg {
    background-image: url(/images/play-card.png);
    background-size: contain;
}

.prune-bg {
    background-image: url(/images/prune-card.png);
    background-size: contain;
}

.talk-bg {
    background-image: url(/images/talk-card.png);
    background-size: contain;
}

.transplant-bg {
    background-image: url(/images/transplant-card.png);
    background-size: contain;
}

.water-bg {
    background-image: url(/images/water-card.png);
    background-size: contain;
}

.water-plus-bg {
    background-image: url(/images/water-plus-card.png);
    background-size: contain;
}

.window-bg {
    background-image: url(/images/window-card.png);
    background-size: contain;
}

/*PLANT*/

.plant-img {
    width: 500px;
}